<div class="header">
    <a href="/" class="logo">
        <% if (logoEnabled) { %>
            <img class="logo-icon" alt="Listok" src="/public/logo.svg" />
        <% } %>
        Listok
    </a>
    <div class="nav">
        <a href="/docs">Docs</a>
        <a href="https://github.com/Vista1nik/listok">GitHub</a>
    </div>
</div>
