<head>
    <%- include('/includes/meta.ejs', {
        meta: {
            title: typeof title !== 'undefined' ? title : 'Listok',
            description: typeof description !== 'undefined' ? description : 'Lightweight static site generator powered by Markdown and EJS.',
            url: typeof url !== 'undefined' ? 'https://listok.vercel.app' + url : 'https://listok.vercel.app',
            type: 'website',
            image: '/public/banner.png',
        }
    }) %>
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/prism-atom-dark.min.css">
</head>
<div class="header">
    <a href="/" class="logo">
        <% if (logoEnabled) { %>
            <img class="logo-icon" src="/public/logo.svg" />
        <% } %>
        Listok
    </a>
    <div class="nav">
        <a href="/docs">Docs</a>
        <a href="https://github.com/Vista1nik/listok">GitHub</a>
    </div>
</div>
