<head>
    <title></title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-atom-dark.min.css">
</head>
<div class="header">
    <a href="/" class="logo">
        <% if (logoEnabled) { %>
            <img class="logo-icon" src="/public/logo.svg" />
        <% } %>
        Listok
    </a>
    <div class="nav">
        <a href="/docs">Docs</a>
        <a href="https://github.com/Vista1nik/listok">GitHub</a>
    </div>
</div>
